@media screen and (min-width: 320px) {
  .icon-create {
    width: 90px;
  }
  .mobile-bg {
    background-image: url("../assets/modal-create-recipe-movil.svg");
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackOpacity);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mobile-bg img.img-modal-recetas {
    display: flex;
    position: absolute;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
  }
  .mobile-bg .modal-contenido p {
    font-size: 14px;
    text-align: center;
    color: var(--whiteColor);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 11%;
    width: 251px;
  }
  .mortero,
  .incense {
    position: absolute;
  }
  .mortero {
    left: 2rem;
    top: 10.2rem;
    width: 60px;
  }
  .incense {
    right: 2rem;
    top: 10.2rem;
    width: 60px;
  }
  .btns-division {
    display: grid;
    gap: 1rem;
  }
}
@media screen and (min-width: 375px) {
  .mobile-bg {
    background-image: url("../assets/modal-create-recipe-movil.svg");
  }
  .mobile-bg .modal-contenido p {
    font-size: 15px;
    top: 46%;
    left: 11%;
    width: 280px;
  }
}
@media screen and (min-width: 430px) {
  .mobile-bg {
    background-image: url("../assets/modal-create-recipe-movil.svg");
    background-position: center;
    width: 100%;
  }
  .mobile-bg .modal-contenido p {
    font-size: 18px;
    top: 46%;
    left: 11%;
    width: 319px;
  }
}
@media screen and (min-width: 688px) {
  .form-container .btns-division {
    display: flex;
    justify-content: center;
  }
  .form-container .btns-division .btn {
    padding: 1em 1.5em;
  }
  .mobile-bg {
    background-image: url("../assets/modal-create-recipe-movil.svg");
    background-position: center;
    width: 100%;
  }
  .mobile-bg .modal-contenido p {
    font-size: 20px;
    top: 47%;
    left: 15%;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .create-recipe .flex-container h2 {
    font-size: 2rem;
  }
  .create-recipe .desktop-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackOpacity);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../assets/modal-create-recipe.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .create-recipe .desktop-bg .modal-contenido p {
    font-size: 20px;
    text-align: center;
    color: var(--whiteColor);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 53%;
    left: 19%;
    width: 465px;
  }
  .create-recipe .icons-template .mortero {
    left: 4rem;
    top: 10rem;
  }
  .create-recipe .icons-template .incense {
    right: 4rem;
    top: 10rem;
  }
  .create-recipe .form-create {
    padding: 1.5rem;
  }
  .create-recipe .form-container .btns-division {
    display: flex;
    justify-content: center;
  }
  .create-recipe .form-container .btns-division .btn {
    padding: 1em 1em;
  }
}
@media screen and (min-width: 1024px) {
  .create-recipe .form-container .btns-division {
    display: flex;
    justify-content: center;
  }
  .create-recipe .form-container .btns-division .btn {
    padding: 1em 1em;
  }
  .create-recipe .desktop-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackOpacity);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../assets/modal-create-recipe.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .create-recipe .desktop-bg .modal-contenido p {
    font-size: 20px;
    text-align: center;
    color: var(--whiteColor);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 57%;
    left: 25%;
    width: 500px;
  }
  .create-recipe .icons-template .icon {
    width: 8%;
  }
  .create-recipe .icons-template .mortero {
    left: 8rem;
    top: 10rem;
  }
  .create-recipe .icons-template .incense {
    right: 8rem;
    top: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .create-recipe .form-container .btns-division {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .create-recipe .form-container .btns-division .btn {
    padding: 1.2em 6em;
  }
  .desktop-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackOpacity);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../assets/modal-create-recipe.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .desktop-bg .modal-contenido p {
    font-size: 23px;
    text-align: center;
    color: var(--whiteColor);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 59%;
    left: 30%;
    width: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .create-recipe .form-container .btns-division {
    justify-content: center;
    align-items: center;
  }
  .create-recipe .form-container .btns-division .btn {
    width: 20%;
    padding: 1em 1em;
  }
  .create-recipe h2.title {
    font-size: 2rem;
  }
  .create-recipe .icon-create {
    width: 8%;
  }
  .create-recipe .desktop-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackOpacity);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../assets/modal-create-recipe.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .create-recipe .desktop-bg img.img-modal-recetas {
    display: flex;
    position: absolute;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
  }
  .create-recipe .desktop-bg .modal-contenido p {
    font-size: 25px;
    text-align: center;
    color: var(--whiteColor);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 33%;
    width: 500px;
  }
  .icons-template .icon {
    width: 6%;
  }
  .icons-template .mortero {
    left: 8rem;
    top: 12rem;
  }
  .icons-template .incense {
    right: 8rem;
    top: 12rem;
  }
}/*# sourceMappingURL=CreateRecipe.css.map */