
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .icon-create {
        width: 90px;
    }
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.svg');
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blackOpacity);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
    
            img.img-modal-recetas {
                display: flex;
                position: absolute;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 550px;
            }
    
            .modal-contenido {
                p {
                    font-size: 20px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 45%;
                    left: 11%;
                    width: 251px;
                }
            }
        }

    .icons-template {
        .mortero,
            .incense {
                position: absolute;
            }
        
            .mortero {
                left: 2rem;
                top: 10.2rem;
                width: 60px;
            }
        
            .incense {
                right: 2rem;
                top: 10.2rem;
                width: 60px;
            }
    }

    .btns-division {
        display: grid;
        gap: 1rem;
    }
}

// Diseño responsivo (375px x 812px)
@media screen and (min-width: 375px) {
    .mobile-bg {
            background-image: url('../assets/modal-create-recipe-movil.svg');
    
            .modal-contenido {
                p {
                    font-size: 18px;
                    top: 46%;
                    left: 11%;
                    width: 280px;
                }
            }
        }
}

// Diseño responsivo (430px x 846px)
@media screen and (min-width: 430px) {
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.svg');
        background-position: center;
        width: 100%;

        .modal-contenido {
            p {
                font-size: 18px;
                top: 46%;
                left: 11%;
                width: 319px;
            }
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .create-recipe {
        .icons-template {
                .mortero,
                .incense {
                    position: absolute;
                }
        
                .mortero {
                    left: 5rem;
                    top: 9.2rem;
                    width: 70px;
                }
        
                .incense {
                    right: 5rem;
                    top: 9.2rem;
                    width: 70px;
                }
            }
    }
    .form-container {
        .btns-division {
            display: flex;
            justify-content: center;

            .btn {
                padding: 1em 1.5em;
            }
        }
    }
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.svg');
        background-position: center;
        width: 100%;

        .modal-contenido {
            p {
                font-size: 20px;
                top: 47%;
                left: 15%;
                width: 70%;
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .create-recipe {
        .flex-container {
            h2 {
                font-size: 2rem;
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-create-recipe.svg');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 20px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 53%;
                    left: 19%;
                    width: 465px;
                }
            }
        }  

        .icons-template {
            .mortero {
                left: 4rem;
                top: 11rem;
            }

            .incense {
                right: 4rem;
                top: 11rem;
            }
        }

        .form-create {
            padding: 1.5rem;
        }

        .form-container {
            .btns-division {
                display: flex;
                justify-content: center;
                
                .btn {
                    padding: 1em 1em;
                }
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .create-recipe {
        .form-container {
                .btns-division {
                    display: flex;
                    justify-content: center;
        
                    .btn {
                        padding: 1em 1em;
                    }
                }
            }


.desktop-bg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blackOpacity);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-image: url('../assets/modal-create-recipe.svg');
        background-repeat: no-repeat;
        background-position: center;

        .modal-contenido {
            p {
                font-size: 20px;
                text-align: center;
                color: var(--whiteColor);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 57%;
                left: 25%;
                width: 500px;
            }
        }
    }


        .icons-template {
            .icon-create {
                width: 110px;
            }
    
            .mortero {
                left: 8rem;
                top: 11.5rem;
            }
    
            .incense {
                right: 8rem;
                top: 11.5rem;
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .create-recipe {
        .icon-create {
            width: 110px;
        }
        .icons-template {
        
                .mortero {
                    left: 10rem;
                    top: 11.8rem;
                    width: 90px;
                }
        
                .incense {
                    width: 90px;
                    right: 10rem;
                    top: 11.8rem;
                }
            }
        .form-container {
                .btns-division {
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        
                        .btn {
                            padding: 1em 2em;
                            width: 30%;
                    }
                }
            }
    }


.desktop-bg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blackOpacity);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-image: url('../assets/modal-create-recipe.svg');
        background-repeat: no-repeat;
        background-position: center;

        .modal-contenido {
            p {
                font-size: 23px;
                text-align: center;
                color: var(--whiteColor);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 59%;
                left: 30%;
                width: 500px;
            }
        }
    }
}

// Diseño responsivo (1440px x 900px)
@media screen and (min-width: 1440px) {
    .create-recipe {
        .form-container {
                .btns-division {
                    justify-content: center;
                    align-items: center;
                    
                    .btn {
                        width: 20%;
                        padding: 1em 1em;
                    }
                }
            }


        h2.title {
            font-size: 2rem;
        }

        .icon-create {
            width: 150px;
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-create-recipe.svg');
            background-repeat: no-repeat;
            background-position: center;
    
            img.img-modal-recetas {
                display: flex;
                position: absolute;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 420px;
                // width: 800px;
            }
    
            .modal-contenido {
                p {
                    font-size: 25px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 60%;
                    left: 33%;
                    width: 500px;
                }
            }
        }

        .icons-template {
            .icon {
                width: 8%;
            }
    
            .mortero {
                left: 14rem;
                top: 12rem;
            }
    
            .incense {
                right: 14rem;
                top: 12rem;
            }
        }
    }
}