@media screen and (min-width: 320px) {
  .footer-container {
    padding: 2rem;
    background-color: var(--primaryColor);
    width: 100%;
    margin-top: 3rem;
  }
  .footer-container .grid-container {
    display: grid;
    gap: 1.5rem;
  }
  .footer-container .box h2 {
    line-height: 2rem;
    color: var(--whiteColor);
    font-weight: 100;
    text-align: center;
  }
  .footer-container .box .social-media {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .footer-container .box .social-media svg {
    cursor: pointer;
    color: var(--whiteColor);
    margin: 1em 0;
    font-size: 38px;
  }
  .footer-container .content {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-container .content svg {
    font-size: 2rem;
    color: var(--whiteColor);
  }
  .footer-container .content p {
    font-size: 20px;
    color: var(--whiteColor);
  }
  .footer-container .section3 a {
    display: flex;
    justify-content: center;
  }
  .footer-container .section3 p {
    color: var(--whiteColor);
    text-align: center;
    font-size: 18px;
  }
  .footer-container .section3 img {
    width: 70%;
  }
  .copyright {
    text-align: center;
    padding: 0.5rem;
  }
  .copyright p {
    color: var(--blackColor);
    font-size: 18px;
  }
}
@media screen and (min-width: 688px) {
  .section {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .section .content {
    display: block;
  }
  .section .content svg {
    font-size: 45px;
    margin-bottom: 0.3em;
  }
  .section .content p {
    font-size: 18px;
  }
  .section3 p {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container .box h2 {
    text-align: left;
  }
  .footer-container .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container .grid-container .section .content {
    display: flex;
    gap: 1em;
  }
  .footer-container .grid-container .section .content p {
    font-size: 18px;
    text-align: left;
  }
  .footer-container .grid-container .section .content svg {
    font-size: 35px;
  }
  .footer-container .grid-container .section2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-container .grid-container .section2 .social-media {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .footer-container .grid-container .section2 .social-media svg {
    margin: 1rem;
  }
  .section3 img {
    width: 70%;
  }
  .section3 p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-info .box h2 {
    font-weight: 400;
    color: var(--whiteColor);
  }
  .footer-info .box .content svg {
    font-size: 2.5rem;
    color: var(--whiteColor);
  }
  .footer-info .box .content p {
    font-size: 20px;
    line-height: 2rem;
    color: var(--whiteColor);
  }
  .section {
    margin-left: 2em;
  }
  .section2 .box h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--whiteColor);
  }
  .section2 .box .social-media svg {
    font-size: 50px;
    color: var(--whiteColor);
  }
  .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section3 .cauldron-logo {
    width: 12em;
  }
  .section3 p {
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 1280px) {
  .footer-info .box h2 {
    color: var(--whiteColor);
  }
  .footer-info .box .content {
    margin-left: 2em;
    margin-top: 1em;
  }
  .footer-info .box .content svg {
    color: var(--whiteColor);
  }
  .footer-info .box .content p {
    color: var(--whiteColor);
  }
  .section {
    margin-left: 4em;
  }
  .section2 h2 {
    color: var(--whiteColor);
  }
  .section2 .social-media {
    color: var(--whiteColor);
  }
  .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section3 .cauldron-logo {
    width: 12em;
  }
  .section3 p {
    color: var(--whiteColor);
    font-size: 18px;
  }
}/*# sourceMappingURL=Footer.css.map */