@media screen and (min-width: 320px) {
  .login .title {
    font-size: 2rem;
    color: var(--secondaryColor);
    font-family: "Catalish Huntera", sans-serif;
  }
  .login .background-stars {
    position: absolute;
    z-index: -1;
    width: -moz-fit-content;
    width: fit-content;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
  }
  .login .form-container {
    padding: 2rem;
    width: 80%;
    border: solid 3px var(--secondaryColor);
    background-color: var(--secondaryColor);
  }
  .login .form-container .img-login {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .login .form-container .buttons-login {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .login .form-container .buttons-login a.link-register {
    text-transform: uppercase;
    color: var(--whiteColor);
    border: 2px solid var(--whiteColor);
    border-radius: 5px;
    padding: 0.8em 1.8em;
  }
  .login .form-container .btn {
    padding: 1rem 2rem;
  }
  .login .form-container .login-btn {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    border: none;
    font-size: 1em;
  }
  input {
    padding: 0.7em;
    margin-bottom: 20px;
    margin-top: 0.5em;
    color: var(--blackColor);
    font-size: var(--smallText);
    width: 100%;
    border-radius: 5px;
  }
  label {
    color: var(--blackColor);
    font-family: "Yusei Magic", sans-serif;
    font-size: var(--normalText);
  }
}
@media screen and (min-width: 688px) {
  .login .form-container .img-login img {
    width: 60%;
  }
  .login .form-container .buttons-login {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .login .title {
    font-size: 2.5rem;
    color: var(--secondaryColor);
    font-family: "Catalish Huntera", sans-serif;
  }
  .login .form-container {
    width: 70%;
  }
  .login .form-container .img-login {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .login .form-container .img-login img {
    width: 80%;
  }
  .login .form-container .buttons-login {
    display: flex;
    justify-content: start;
    gap: 2em;
  }
  .login .form-container .buttons-login .login-btn {
    margin-left: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .login .background-stars {
    width: 100%;
  }
  .login .form-container {
    padding: 2rem;
    width: 80%;
    border: solid 3px var(--secondaryColor);
    background-color: var(--secondaryColor);
  }
  .login .form-container .buttons-login {
    gap: 3.8em;
  }
  .login .form-container .buttons-login .login-btn {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    border: none;
    font-size: 1em;
    margin-left: 0;
  }
  .login .form-container .btn {
    padding: 1rem 2rem;
  }
  .login .form-container .img-login {
    width: 40%;
    align-self: center;
  }
  .login .form-container .img-login img {
    width: 30%;
    position: absolute;
    right: 13%;
    top: 30%;
  }
  .login .background-stars {
    position: absolute;
    z-index: -1;
  }
  .login .flex-container .buttons-login {
    gap: 3.8em;
    justify-content: start;
  }
  form {
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-inputs {
    width: 55%;
  }
}
@media screen and (min-width: 1250px) {
  .login .flex-container .img-login img {
    width: 29%;
    position: absolute;
    right: 14%;
    top: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .login .form-container {
    width: 75%;
  }
  .login .form-container .buttons-login {
    gap: 3em;
  }
  .login .form-container .buttons-login .login-btn {
    margin-left: 2.5em;
  }
  .login .form-container .img-login {
    width: 40%;
    align-self: center;
  }
  .login .form-container .img-login img {
    width: 25%;
    position: absolute;
    right: 17%;
    top: 28%;
  }
  .login .background-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  form {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-container .icon {
    width: 5%;
  }
  .form-inputs {
    width: 55%;
  }
}
@media screen and (min-width: 1440px) {
  .login .form-container {
    width: 50%;
  }
  .login .form-container form {
    display: block;
  }
  .login .form-container .form-inputs {
    width: 58%;
  }
  .login .form-container .img-login img {
    width: 18%;
    position: absolute;
    right: 27%;
    top: 28%;
  }
  .login .form-container .buttons-login {
    display: flex;
    justify-content: start;
    gap: 2em;
  }
  .login .form-container .buttons-login .login-btn {
    margin-left: 0em;
  }
}/*# sourceMappingURL=LoginPage.css.map */