// ---------------- HomePage (estilos.css)
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .not-logged {
        padding: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .smoke {
            width: 300px;
            height: 415px;
        }
    }

    .content1 {
        color: var(--blackColor);
        align-items: center;
        display: flex;
        flex-direction: column;

        .cauldron {
            width: 250px;
            height: 250px;
        }

        .title-recipes {
            font-weight: 100;
        }

        .principal-title {
            font-family: 'Young', serif;
            color: var(--primaryColor);
            font-size: 3.6rem;
            line-height: 3rem;
            text-transform: capitalize;
        }

        i {
            font-size: 14px;
            line-height: 3rem;
        }

        p {
            font-size: 20px;
            text-align: center;
        }
    }
    .blog-recipes {
        .blog-container {
            h2 {
                font-size: 2rem;
                color: var(--blackColor);
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .container {
        .smoke {
            width: 450px;
            height: 600px;
        }
        .content1 {
            p {
                font-size: 25px;
                padding: 0 1.5em;
            }
            .cauldron {
                width: 300px;
                height: 300px;
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .container {
        .smoke {
            width: 400px;
            height: 500px;
        }
        .content1 {
            p {
                font-size: 25px;
            }
            .cauldron {
                width: 300px;
                height: 300px;
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1em;

        .smoke {
            width: 480px;
            height: 600px;
        }

        .content1 {
            align-self: center;
            p {
                font-size: 22px;
                color: var(--blackColor);
            }
            .cauldron {
                width: 300px;
                height: 300px;
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .container {
        .smoke {
            width: 600px;
            height: 710px;
        }
        .content1 {
            p {
                font-size: 25px;
            }
            .cauldron {
                width: 300px;
                height: 300px;
            }
        }
    }
}

// ---------------- Post
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .post-division {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        .my-post {
            background-color: var(--secondaryColor);
            border: 3px solid var(--secondaryColor);
            border-radius: 15px;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            margin-bottom: 30px;
            width: 90%;
            gap: 20px;
            align-items: center;
            padding: 3px;
        }

        .post-body {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            gap: 10px;

            .post-title,
            .post-owner {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                color: var(--whiteColor);
                font-size: 16px;
            }

            p {
                font-size: 14px;
                color: var(--whiteColor);
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .post-division {
        .my-post {
            width: 70%;
        }

        .post-body {
            padding: 1.5em;
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .post-division {
        .my-post {
            width: 70%;
        }

        .post-body {
            padding: 2em;
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .post-division {
        .my-post {
            width: 80%;
        }

        .post-body {
            padding: 2em;
        }
    }
}

// ---------------- Navbar
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .navbar {
        background-color: var(--primaryColor);
        display: flex;
        height: 3rem;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        a {
            color: var(--whiteColor);
            font-size: 9px;
            width: 25%;
            text-align: center;
        }
    }

    .nav-links {
        a {
            padding: 0 1rem;
            margin-left: 1em;
            transition: all 100ms ease;
        }

        .logIn {
            border-radius: 5px;
            border: 2px solid var(--whiteColor);
            padding: 0.3rem;
        }

        .register-btn:hover,
        .logIn:hover,
        .logout:hover {
            border-radius: 5px;
            border: 2px solid var(--secondaryColor);
            background-color: var(--secondaryColor);
            padding: 0.3rem;
        }
    }

    .nav-links2 {
        a {
            padding: 0 0.5rem;
            margin: 0 1em 0 0;
        }

        .recipes-btn:hover,
        .create-btn:hover,
        .logout:hover {
            border-radius: 5px;
            border: 2px solid var(--secondaryColor);
            background-color: var(--secondaryColor);
            padding: 0.3rem;
        }

        .logout {
            border-radius: 5px;
            border: 2px solid var(--whiteColor);
            padding: 0.3rem;
        }
    }
}

// Diseño responsivo (480px x 320px)
@media screen and (min-width: 480px) {
    .navbar {
        .nav-links {
            a {
                margin-right: 1rem;
                padding: 0.4rem 0.6rem;
            }
        }

        .nav-links2 {
            a {
                margin-right: 1rem;
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .navbar {
        height: 4rem;
        justify-content: space-between;

        a.logo {
            padding: 0 1rem;
            font-size: 0.9rem;
            width: 40%;
        }

        .nav-links {
            a {
                margin-right: 3rem;
                padding: 0.4rem 0.6rem;
                font-size: 0.9rem;
            }
        }

        .nav-links2 {
            a {
                font-size: 0.9rem;
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .navbar {
        height: 4.5rem;

        a.logo {
            font-size: 1.2rem;
        }

        .nav-links {
            a {
                font-size: 1.2rem;
            }
        }

        .nav-links2 {
            a {
                font-size: 1.2rem;
            }
            .logout {
                padding: 0.6rem 0.8rem;
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .navbar {
        .nav-menu {
            .nav-links {
                .logIn,
                .register-btn {
                    padding: 0.6rem 1rem;
                    border-radius: 5px;
                }
            }
        }
    }
}

// ---------------- Footer
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .footer-container {
        padding: 2rem;
        background-color: var(--primaryColor);
        width: 100%;
        margin-top: 3rem;

        .grid-container {
            display: grid;
            gap: 1.5rem;
        }

        .box {
            h2 {
                line-height: 2rem;
                color: var(--whiteColor);
                font-weight: 100;
                text-align: center;
            }

            .social-media {
                align-items: center;
                display: flex;
                justify-content: space-around;

                .facebook,
                .instagram,
                .twitter {
                    width: 35px;
                    height: 35px;
                }
                img {
                    cursor: pointer;
                    margin: 1em 0;
                }
            }
        }

        .content {
            display: block;
            margin-bottom: 10px;
            text-align: center;

            .hat-witch,
            .broom,
            .blackcat {
                width: 35px;
                height: 35px;
            }

            p {
                font-size: 20px;
                color: var(--whiteColor);
            }
        }
        .section3 {
            a {
                display: flex;
                justify-content: center;
            }
            p {
                color: var(--whiteColor);
                text-align: center;
                font-size: 18px;
            }
            .cauldron-logo {
                width: 250px;
                height: 250px;
            }
        }
    }

    .copyright {
        text-align: center;
        padding: 0.5rem;

        p {
            color: var(--blackColor);
            font-size: 18px;
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .footer-container {
        .box {
            .social-media {
                .facebook,
                .instagram,
                .twitter {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .section {
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;

            .content {
                display: block;
                .hat-witch,
                .broom,
                .blackcat {
                    width: 50px;
                    height: 50px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        .section3 {
            .cauldron-logo {
                width: 270px;
                height: 270px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .footer-container {
        .box {
            h2 {
                text-align: left;
            }
        }
        .grid-container {
            grid-template-columns: repeat(3, 1fr);

            .section {
                .content {
                    display: flex;
                    gap: 1em;

                    .hat-witch,
                    .broom,
                    .blackcat {
                        width: 60px;
                        height: 55px;
                    }

                    p {
                        font-size: 13px;
                        text-align: left;
                    }
                }
            }
            .section2 {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                .social-media {
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .facebook,
                    .instagram,
                    .twitter {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }

        .section3 {
            .cauldron-logo {
                width: 260px;
                height: 260px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .footer-container {
        .footer-info {
            .box {
                .content {
                    .hat-witch,
                    .broom,
                    .blackcat {
                        width: 40px;
                        height: 40px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
        .grid-container {
            .section2 {
                .social-media {
                    .facebook,
                    .instagram,
                    .twitter {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .section3 {
            .cauldron-logo {
                width: 220px;
                height: 220px;
            }
            p {
                font-size: 17px;
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .footer-container {
        .footer-info {
            .box {
                .content {
                    .hat-witch,
                    .broom,
                    .blackcat {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
        .grid-container {
            .section2 {
                .social-media {
                    .facebook,
                    .instagram,
                    .twitter {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
        .section3 {
            .cauldron-logo {
                width: 250px;
                height: 250px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

// ----------- LoginPage
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .login {
        .title {
            font-size: 2rem;
            color: var(--secondaryColor);
            font-family: 'Yusei Magic', sans-serif;
        }

        .mobile-bg {
            background-image: url('../assets/modal-contra-incorrecta.jpg');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;

            img.img-modal-recetas {
                display: flex;
                position: absolute;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 550px;
            }

            .modal-contenido {
                p {
                    font-size: 24px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 7%;
                    left: 11%;
                    width: 251px;
                }
            }
        }

        .background-stars {
            position: absolute;
            z-index: -1;
            width: fit-content;
            background-size: cover;
            background-repeat: repeat;
            width: 100%;
            height: 100vh;
        }
        .form-container {
            padding: 2rem;
            width: 80%;
            border: solid 3px var(--secondaryColor);
            background-color: var(--secondaryColor);

            .img-login {
                justify-content: center;
                align-items: center;
                display: flex;
            }

            .buttons-login {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;

                a.link-register {
                    text-transform: uppercase;
                    color: var(--whiteColor);
                    border: 2px solid var(--whiteColor);
                    border-radius: 5px;
                    padding: 0.8em 1.8em;
                }
            }

            .btn {
                padding: 1rem 2rem;
            }

            .login-btn {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
                border: none;
                font-size: 1em;
            }
        }
    }

    input {
        padding: 0.7em;
        margin-bottom: 20px;
        margin-top: 0.5em;
        color: var(--blackColor);
        font-size: var(--smallText);
        width: 100%;
        border-radius: 5px;
    }

    label {
        color: var(--blackColor);
        font-family: 'Yusei Magic', sans-serif;
        font-size: var(--normalText);
    }
}

// Diseño responsivo (430px x 600px)
@media screen and (min-width: 430px) {
    .login {
        .form-container {
            .img-login {
                img {
                    width: 60%;
                }
            }
            .buttons-login {
                justify-content: space-evenly;
            }
        }
        .mobile-bg {
            background-image: url('../assets/modal-contra-incorrecta.jpg');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 21px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 19%;
                    left: 21%;
                    width: 251px;
                }
            }
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .login {
        .form-container {
            .img-login {
                img {
                    width: 60%;
                }
            }
            .buttons-login {
                justify-content: space-evenly;
            }
        }
        .mobile-bg {
            background-image: url('../assets/modal-contra-incorrecta.jpg');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 20px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 21%;
                    left: 28%;
                    width: 300px;
                }
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .login {
        .title {
            font-size: 2.5rem;
            color: var(--secondaryColor);
            font-family: 'Yusei Magic', sans-serif;
        }

        .desktop-bg {
            background-image: url('../assets/contra-incorrecta-desktop.png');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 35px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 37%;
                    left: 19%;
                    width: 465px;
                }
            }
        }

        .form-container {
            width: 70%;

            .img-login {
                justify-content: center;
                align-items: center;
                display: flex;

                img {
                    width: 80%;
                }
            }
            .buttons-login {
                display: flex;
                justify-content: start;
                gap: 2em;

                .login-btn {
                    margin-left: 2em;
                }
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .login {
        .background-stars {
            width: 100%;
            height: 100%;
        }
        .form-container {
            padding: 2rem;
            width: 80%;
            // margin-top: 5rem;
            border: solid 3px var(--secondaryColor);
            background-color: var(--secondaryColor);

            .buttons-login {
                gap: 3.8em;
                .login-btn {
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    border: none;
                    font-size: 1em;
                    margin-left: 0;
                }
            }

            .btn {
                padding: 1rem 2rem;
            }

            .img-login {
                width: 40%;
                align-self: center;

                img {
                    width: 30%;
                    position: absolute;
                    right: 13%;
                    top: 35%;
                }
            }
        }
    }

    .login {
        .background-stars {
            position: absolute;
            z-index: -1;
        }

        .flex-container {
            .buttons-login {
                gap: 3.8em;
                justify-content: start;
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/contra-incorrecta-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 26px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 31%;
                    left: 22%;
                    width: 540px;
                }
            }
        }
    }

    form {
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-inputs {
        width: 55%;
    }
    .form-container {
        margin-top: 15rem;
    }
}

// Diseño responsivo (1250px x 800px)
@media screen and (min-width: 1250px) {
    .login {
        .form-container {
            margin-top: 0;

            .img-login {
                img {
                    width: 29%;
                    position: absolute;
                    right: 14%;
                    top: 22%;
                }
            }
        }
        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/contra-incorrecta-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 30px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 36%;
                    left: 25%;
                }
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .login {
        .form-container {
            width: 75%;
            margin-top: 0;

            .buttons-login {
                gap: 3em;

                .login-btn {
                    margin-left: 2.5em;
                }
            }

            .img-login {
                width: 40%;
                align-self: center;

                img {
                    width: 25%;
                    position: absolute;
                    right: 17%;
                    top: 26%;
                }
            }
        }

        .background-stars {
            position: absolute;
            z-index: -1;
            width: 100%;
        }
        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/contra-incorrecta-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 25px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 36%;
                    left: 27%;
                }
            }
        }
    }
    form {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex-container {
        .icon {
            width: 5%;
        }
    }
    .form-inputs {
        width: 55%;
    }
}

// Diseño responsivo (1440px x 900px)
@media screen and (min-width: 1440px) {
    .login {
        .form-container {
            width: 50%;

            form {
                display: block;
            }

            .form-inputs {
                width: 58%;
            }

            .img-login {
                img {
                    width: 18%;
                    position: absolute;
                    right: 27%;
                    top: 25%;
                }
            }

            .buttons-login {
                display: flex;
                justify-content: start;
                gap: 2em;

                .login-btn {
                    margin-left: 0em;
                }
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/contra-incorrecta-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 30px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 37%;
                    left: 31%;
                }
            }
        }
    }
}

//------------- RegisterPage
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .register {
        .mobile-bg {
            background-image: url('../assets/modal-user-repeat-movil.png');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;

            img.img-modal-recetas {
                display: flex;
                position: absolute;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 550px;
            }

            .modal-contenido {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 23px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    top: 22%;
                    left: 12%;
                }
            }
        }
        .bck-cauldrons {
            position: absolute;
            z-index: -1;
            background-size: cover;
            background-repeat: repeat;
            width: 100%;
            height: 1000px;
        }
        .title {
            color: var(--secondaryColor);
            font-family: 'Yusei Magic', sans-serif;
            font-size: 2rem;
        }
        .form-container {
            padding: 2rem;
            width: 80%;
            border: solid 3px var(--secondaryColor);
            background-color: var(--secondaryColor);
        }
        .img-register {
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .buttons-register {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;

            .register-btn {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
                border: none;
                font-size: 1em;
                padding: 1rem 2rem;
            }

            a.link-login {
                text-transform: uppercase;
                color: var(--whiteColor);
                border: 2px solid var(--whiteColor);
                border-radius: 5px;
                padding: 0.8em 1.8em;
            }
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .register {
        .bck-cauldrons {
            height: 1185px;
        }

        .mobile-bg {
            background-image: url('../assets/modal-user-repeat-movil.png');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 23px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    top: 22%;
                    left: 32%;
                    width: 250px;
                }
            }
        }

        .form-container {
            .img-register {
                img {
                    width: 80%;
                }
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .register {
        .bck-cauldrons {
            height: 1104px;
        }
        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-user-repeat-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 25px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 33%;
                    left: 13%;
                    width: 292px;
                }
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .register {
        .bck-cauldrons {
            width: 100%;
            height: 120%;
        }
        .form-container {
            .img-register {
                img {
                    width: 30%;
                    position: absolute;
                    right: 13%;
                    top: 45%;
                }
            }
            .buttons-register {
                justify-content: flex-start;
                gap: 4em;
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-user-repeat-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 25px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 36%;
                    left: 17%;
                    width: 400px;
                }
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .register {
        .form-container {
            height: 530px;
            width: 75%;
            form {
                display: block;
                .form-inputs {
                    width: 50%;
                }
            }
            .img-register {
                img {
                    top: 30%;
                    right: 15%;
                }
            }
            .buttons-register {
                .register-btn {
                    margin-left: 1em;
                }
            }
        }
        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-user-repeat-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 25px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 39%;
                    left: 25%;
                    width: 372px;
                }
            }
        }
    }
}

// Diseño responsivo (1440px x 900px)
@media screen and (min-width: 1440px) {
    .register {
        .form-container {
            width: 50%;

            form {
                .form-inputs {
                    width: 55%;
                }
            }
            .img-register {
                img {
                    top: 33%;
                    left: 54%;
                    width: 19%;
                }
            }
            .buttons-register {
                gap: 1em;
                .register-btn {
                    margin-left: 0em;
                }
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-user-repeat-desktop.png');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 28px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 40%;
                    left: 28%;
                }
            }
        }
    }
}

// -------------- RecipeBook
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .recipe-book {
        h1.recipe-main-text {
            color: var(--whiteColor);
            text-align: center;
        }
        .icon-recipebook {
            width: 90px;
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .recipe-book {
        .title {
            font-size: 2rem;
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .recipe-book {
        .flex-container {
            .title {
                font-size: 2rem;
            }

            .icon {
                width: 10%;
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .recipe-book {
        .title {
            font-size: 2rem;
        }

        img.icon-recipebook {
            width: 150px;
        }
    }
}

// -------------- CreateRecipe
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .icon-create {
        width: 90px;
    }
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.jpg');
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blackOpacity);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;

        img.img-modal-recetas {
            display: flex;
            position: absolute;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-size: cover;
            height: 550px;
        }

        .modal-contenido {
            p {
                font-size: 20px;
                text-align: center;
                color: var(--whiteColor);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 45%;
                left: 11%;
                width: 251px;
            }
        }
    }

    .icons-template {
        .mortero,
        .incense {
            position: absolute;
        }

        .mortero {
            left: 2rem;
            top: 10.2rem;
            width: 60px;
        }

        .incense {
            right: 2rem;
            top: 10.2rem;
            width: 60px;
        }
    }

    .btns-division {
        display: grid;
        gap: 1rem;
    }
}

// Diseño responsivo (375px x 812px)
@media screen and (min-width: 375px) {
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.jpg');

        .modal-contenido {
            p {
                font-size: 18px;
                top: 46%;
                left: 11%;
                width: 280px;
            }
        }
    }
}

// Diseño responsivo (430px x 846px)
@media screen and (min-width: 430px) {
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.jpg');
        background-position: center;
        width: 100%;

        .modal-contenido {
            p {
                font-size: 18px;
                top: 46%;
                left: 11%;
                width: 319px;
            }
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .create-recipe {
        .icons-template {
            .mortero,
            .incense {
                position: absolute;
            }

            .mortero {
                left: 5rem;
                top: 9.2rem;
                width: 70px;
            }

            .incense {
                right: 5rem;
                top: 9.2rem;
                width: 70px;
            }
        }
    }
    .form-container {
        .btns-division {
            display: flex;
            justify-content: center;

            .btn {
                padding: 1em 1.5em;
            }
        }
    }
    .mobile-bg {
        background-image: url('../assets/modal-create-recipe-movil.jpg');
        background-position: center;
        width: 100%;

        .modal-contenido {
            p {
                font-size: 20px;
                top: 47%;
                left: 15%;
                width: 70%;
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .create-recipe {
        .flex-container {
            h2 {
                font-size: 2rem;
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-create-recipe.jpg');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 20px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 53%;
                    left: 19%;
                    width: 465px;
                }
            }
        }

        .icons-template {
            .mortero {
                left: 4rem;
                top: 11rem;
            }

            .incense {
                right: 4rem;
                top: 11rem;
            }
        }

        .form-create {
            padding: 1.5rem;
        }

        .form-container {
            .btns-division {
                display: flex;
                justify-content: center;

                .btn {
                    padding: 1em 1em;
                }
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .create-recipe {
        .form-container {
            .btns-division {
                display: flex;
                justify-content: center;

                .btn {
                    padding: 1em 1em;
                }
            }
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-create-recipe.jpg');
            background-repeat: no-repeat;
            background-position: center;

            .modal-contenido {
                p {
                    font-size: 20px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 57%;
                    left: 25%;
                    width: 500px;
                }
            }
        }

        .icons-template {
            .icon-create {
                width: 110px;
            }

            .mortero {
                left: 8rem;
                top: 11.5rem;
            }

            .incense {
                right: 8rem;
                top: 11.5rem;
            }
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .create-recipe {
        .icon-create {
            width: 110px;
        }
        .icons-template {
            .mortero {
                left: 10rem;
                top: 11.8rem;
                width: 90px;
            }

            .incense {
                width: 90px;
                right: 10rem;
                top: 11.8rem;
            }
        }
        .form-container {
            .btns-division {
                justify-content: center;
                align-items: center;
                width: 100%;

                .btn {
                    padding: 1em 2em;
                    width: 30%;
                }
            }
        }
    }

    .desktop-bg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blackOpacity);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-image: url('../assets/modal-create-recipe.jpg');
        background-repeat: no-repeat;
        background-position: center;

        .modal-contenido {
            p {
                font-size: 23px;
                text-align: center;
                color: var(--whiteColor);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 59%;
                left: 30%;
                width: 500px;
            }
        }
    }
}

// Diseño responsivo (1440px x 900px)
@media screen and (min-width: 1440px) {
    .create-recipe {
        .form-container {
            .btns-division {
                justify-content: center;
                align-items: center;

                .btn {
                    width: 20%;
                    padding: 1em 1em;
                }
            }
        }

        h2.title {
            font-size: 2rem;
        }

        .icon-create {
            width: 150px;
        }

        .desktop-bg {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-image: url('../assets/modal-create-recipe.jpg');
            background-repeat: no-repeat;
            background-position: center;

            img.img-modal-recetas {
                display: flex;
                position: absolute;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 420px;
                // width: 800px;
            }

            .modal-contenido {
                p {
                    font-size: 25px;
                    text-align: center;
                    color: var(--whiteColor);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 60%;
                    left: 33%;
                    width: 500px;
                }
            }
        }

        .icons-template {
            .icon {
                width: 8%;
            }

            .mortero {
                left: 14rem;
                top: 12rem;
            }

            .incense {
                right: 14rem;
                top: 12rem;
            }
        }
    }
}

// -------------- EditRecipe
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .edit-recipe {
        .caldero {
            width: 90px;
        }

        .mortero,
        .incense {
            top: 10.2rem;
        }

        .mobile-edit-bg {
            background-image: url('../assets/modale-edit-movil.jpg');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
        }
        .modal-edit-content {
            p {
                color: var(--whiteColor);
                font-size: 18px;
                width: 65%;
                position: absolute;
                text-align: center;
                left: 17%;
            }
        }
    }
}

// Diseño responsivo (430px x 846px)
@media screen and (min-width: 430px) {
    .edit-recipe {
        .modal-edit-content {
            p {
                color: var(--whiteColor);
                font-size: 23px;
            }
        }
    }
}

// Diseño responsivo (688px x 1031px)
@media screen and (min-width: 688px) {
    .edit-recipe {
        .icons-template {
            .mortero {
                left: 6rem;
            }
            .incense {
                right: 6rem;
            }
        }
        .form-container {
            .btns-division {
                .btn {
                    width: 20%;
                }
            }
        }
        .modal-edit-content {
            p {
                color: var(--whiteColor);
                font-size: 20px;
                width: 45%;
                left: 27%;
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .flex-container {
        .caldero {
            width: 90px;
        }
    }

    .icons-template {
        .mortero {
            left: 5rem;
            top: 11rem;
        }

        .incense {
            right: 5rem;
            top: 11rem;
        }
    }

    .btns-division {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 1rem;

        .btn {
            width: 40%;
            padding: 0.8rem;
        }
    }

    form {
        padding: 15px;
    }

    .edit-recipe {
        .desktop-edit-bg {
            background-image: url('../assets/edit-modal-desktop.jpg');
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blackOpacity);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
        }
        .modal-edit-content {
            p {
                color: var(--whiteColor);
                color: var(--whiteColor);
                font-size: 20px;
                width: 65%;
                position: absolute;
                text-align: center;
                left: 17%;
                top: 505px;
            }
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .edit-recipe {
        .modal-edit-content {
            p {
                font-size: 20px;
                top: 275px;
            }
        }
        .icons-template {
            .mortero {
                width: 8%;
                left: 9rem;
                top: 11rem;
            }

            .incense {
                width: 8%;
                right: 9rem;
                top: 11rem;
            }
        }
    }
    .flex-container {
        .title {
            font-size: 2rem;
        }
    }
}

// Diseño responsivo (1280px x 800px)
@media screen and (min-width: 1280px) {
    .flex-container {
        .caldero {
            width: 150px;
        }
    }
    .edit-recipe {
        .modal-edit-content {
            p {
                font-size: 25px;
                top: 355px;
            }
        }
        .icons-template {
            .mortero {
                width: 8%;
                left: 14rem;
                top: 12rem;
            }

            .incense {
                width: 8%;
                right: 14rem;
                top: 12rem;
            }
        }
    }
    .form-container {
        .btns-division {
            display: flex;
            justify-content: center;
            width: 100%;

            .btn {
                width: 20%;
                padding: 1em 1em;
            }
        }
    }
}

// --------------- Card
// Diseño responsivo (320px x 480px)
@media screen and (min-width: 320px) {
    .card-division {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        .my-card {
            background-color: var(--secondaryColor);
            border: 3px solid var(--secondaryColor);
            border-radius: 15px;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            margin-bottom: 30px;
            width: 90%;
            gap: 20px;
            align-items: center;
            padding: 3px;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            gap: 10px;

            h4 {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }

            h4,
            p {
                font-size: 14px;
            }

            span {
                color: var(--whiteColor);
                text-transform: uppercase;
            }
        }

        .btns-edit-delete {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-bottom: 1.3rem;

            .edit-btn,
            .delete-btn {
                background-color: var(--primaryColor);
            }
        }
    }
}

// Diseño responsivo (768px x 1024px)
@media screen and (min-width: 768px) {
    .card-division {
        .my-card {
            width: 70%;
        }

        .card-body {
            padding: 1.5em;
        }

        .btns-edit-delete {
            gap: 2rem;
        }
    }
}

// Diseño responsivo (1024px x 600px)
@media screen and (min-width: 1024px) {
    .card-division {
        .my-card {
            width: 50%;
        }

        .card-body {
            padding: 2em;
        }
        .btns-edit-delete {
            .edit-btn,
            .delete-btn {
                padding: 0.8rem 1.5rem;
            }
        }
    }
}
